raml/email-r-api/src/main/mule/email.api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="email.api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8088" />
    </http:listener-config>
    <apikit:config name="email.api-config" raml="email.api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <mongo:config name="MongoDB_Config" doc:name="MongoDB Config" doc:id="035873e4-82ba-4689-bb43-076443904dce" >
		<mongo:connection-string-connection connectionString="mongodb+srv://ravi:Ravi@hubcluster-6g8iz.azure.mongodb.net/HUBDB" />
	</mongo:config>
	<mongo:config name="MongoDB_Config1" doc:name="MongoDB Config" doc:id="a12496ba-97f3-4972-b72f-dd145203b4bf" >
		<mongo:connection-string-connection connectionString="mongodb+srv://ravi:Ravi@hubcluster-6g8iz.azure.mongodb.net/HUBDB" />
	</mongo:config>
	<flow name="email.api-main">
        <http:listener config-ref="email.api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="email.api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="email.api-console">
        <http:listener config-ref="email.api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="email.api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\email\(emailId):email.api-config">
        <logger level="INFO" doc:name="Logger" doc:id="bbf0a4e5-3bfe-4d02-9628-2aa811207eb9" message="#[payload]"/>
		<set-variable value="#[attributes.uriParams.emailId]" doc:name="Set Variable" doc:id="dc9ab80e-9440-4433-8272-3d723e0774f1" variableName="searchEmail"/>
		<ee:transform doc:name="Transform Message" doc:id="da9eb71f-bb8d-42aa-a22b-7f92bfc0eac9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	emailRowId:vars.searchEmail

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<try doc:name="Try" doc:id="277e5f22-8c26-4f3a-b020-c0b1b7f30c50" >
			<mongo:find-one-document doc:name="Find one document" doc:id="8ae75d57-4c1f-453e-93b5-ede72a77ad43" config-ref="MongoDB_Config1" collectionName="email_col"/>
		</try>
		<logger level="INFO" doc:name="Logger" doc:id="985ec729-9af5-4a97-9b45-28bfed7ee4b1" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="c2f362aa-de79-4e57-bcea-6aff79ad614b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	faInfo: {
		office: payload.faInfo.office default "",
		fa: payload.faInfo.fa default ""
	},
	note: payload.note default "",
	isDefault: payload.isDefault default true,
	venderInfoList: payload.venderInfo map ( venderInfo , indexOfVenderInfo ) -> {
		verifiedDate: venderInfo.verifiedDate default "",
		vendorId: venderInfo.vendorId default "",
		verificationDesc: venderInfo.verificationDesc default "",
		vendorName: venderInfo.vendorName default ""
	},
	emailType: {
		code: payload.emailType.code default "",
		value: payload.emailType.value default ""
	},
	isVerified: payload.isVerified default true,
	emailRowId: payload.emailRowId,
	emailId: payload.emailId default "",
	status: {
		isRetry: false,
		serviceStatus: "Success",
		httpStatus: "200",
		businessDesc: "",
		technicalDesc: ""
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" message="get:\email\(emailId):email.api-config" />
    </flow>
</mule>
